Package: com.rpetrich.mathalarmplus
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Version: 1.0
Description: Awake to Arithmetic with more options!
Name: MathAlarm Plus
Depends: firmware (>= 4.2), mobilesubstrate, preferenceloader
Conflicts: cy.ipad, com.rpetrich.mathalarm
Replaces: com.rpetrich.mathalarm
Author: Ryan Petrich
